# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/game/node_modules
/game-api/node_modules

# testing
/game/coverage

# production
/game/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled CSS
*.css
